@import 'grid.css';

.d-none {
  display: none;
}

#menu-link > a > link,
#menu-link > a,
#menu-link > a > link:visited {
  text-decoration: none;
  color: #fafafa;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: rgba(33, 33, 33, 0.8);
  background-blend-mode: overlay;
  background-image: url(../assets/pexels-photo-1566837.jpeg);
  background-position: center;
}

.nav {
  font-family: 'Fira Sans';
  font-size: 20px;
  color: #fafafa;
  font-weight: 500;
  list-style: none;
}

.nav > li {
  padding: 5px;
  cursor: pointer;
}

.main {
  min-height: 75vh;
  color: #fafafa;
  font-size: 20px;
}

.footer {
  position: relative;
  color: #fafafa;
  bottom: 0;
  font-size: 19px;
  padding: 16px;
  padding-right: 3px;
  width: 90%;
}

.footer > span {
  word-spacing: 4px;
  margin-right: 4px;
}

.gero {
  fill: #fafafa;
}

.container-about {
  margin: 0 10% 0 10%;
}

.container-map {
  width: 250px;
  height: 150px;
}

.pizza {
  width: 99px;
  height: 99px;
  fill: #fafafa;
}

.menu-card {
  background-color: rgba(255, 255, 255, 1);
  color: #212121;
  border-style: solid;
  border-color: #212121;
  border-width: thin;
  padding: 10px;
  border-radius: 0.1;
  transition-duration: 1s;
}

.nutritional-facts {
  color: #212121;
  margin: 0;
}

.nutritional-facts > li {
  margin: 7px 0 7px 0;
  list-style: none;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding: 3px 0 3px 0;
}

.switch {
  background: #f05e5e;
  border-radius: 11px;
  border-width: thin;
  border-color: #f05e5e;
  padding: 5px 15px;
  margin: 10px 15px 0 0;
  color: #ffffff;
  display: inline-block;
  font: normal bold 16px/1 "Open Sans", sans-serif;
  text-align: center;
}


.pizza-img {
  background-image: url(../assets/lactose-disk-pepperoni.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 9px;
}

#pizza-img-1 {
  background-image: url(../assets/cheese.png);
}

#pizza-img-2 {
  background-image: url(../assets/weird.jpg);
}

.cont {
  z-index: 2;
}


/* Loader loading.io */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 0;
  bottom: 150px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 425px) {
  footer {
    flex-direction: column;
  }

}